.container {
    max-width: 1110px;
    margin: 0px auto;
}

.product__navigation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    align-items: center;
}

.title-block__product {
    font-weight: 500;
    font-size: 40px;
    line-height: 110%;
}

.product {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.element__product {
    max-width: 350px;
    min-height: 730px;
    background-color: #E1EDE6;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px 20px 30px 20px;
    box-sizing: border-box;
}
.author__product {
    color: #86928b;
    margin-top: 20px;
}

.name__product {
    font-size: 30px;
    margin-top: 10px
}

.means__product {
    font-weight: 500;
    font-size: 18px;
    color: #2c2d35;
    margin-top: 8px;
}

.price__product {
    font-size: 24px;
    color: #598d66;
    margin-top: 30px;
}

.button__product {
    background: #d4e8d9;
    border-radius: 20px;
    padding: 10px 20px;
    border: 0;
    cursor: pointer;
}

.voice-button__product {
    background: #376b44;
    color: #f4f6f5;
}

.menu-block__product {
    display: flex;
    gap: 32px;
}

.button__buy {
    font-size: 20px;
    color: #598d66;
    max-width: 310px;
    max-height: 65px;
    padding: 21px 106px;
    background-color: inherit;
    border: solid 1px #598D66;
    cursor: pointer;
}