.header {
    background: #e1ede6;
    height: 100px;
}

.header_nav-link{
    display: flex;
    color: #2c2d35;
    font-size: 20px;
    font-weight: 500;
    line-height: 100%;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_nav_list {
     display: flex;
     gap: 60px;
    font-family: ;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
}
