.promo {
    background-image: url(/img/bg-promo.svg);
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    padding:  70px 0px;
    max-height: 540px;
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container {
    margin: 0px 50px;
}

.title-promo {
    display: flex;
    align-items: center;
    font-size: 40px;
    color: #f4f6f5;
    margin-bottom: 20px;
}

.promo-text {
    line-height: 150%;
    max-width: 540px;
}

#button__promo {
    background: #eedb6d;
    font-size: 20px;
    width: 257px;
    height: 65px;
    margin-top: 60px;
    cursor: pointer;
}
