.container {
    max-width: 1440px;
    height: 574px;
    margin: 0px auto;
    background-image: url(/img/bg-promo.svg);
}

.title-promo {
    display: flex;
    align-items: center;
    font-size: 40px;
    color: #f4f6f5;
    margin-bottom: 20px;
}

.promo {
    margin-top: 50px;
}


